*.iml
.gradle
.idea
.DS_Store
.cxx
.externalNativeBuild
/captures

# Build outputs
build/
/app/build/

# Local config
local.properties

# Signing
*.jks
*.keystore

# Temp & patch files
temp.kt
*.patch
-p/

# Kotlin
.kotlin/
